html {
    overflow-y: auto !important;
}

.owl-theme .owl-nav.disabled + .owl-dots{
    margin-top: 0!important;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.bg-gray{
    background: #e3e3e3!important;
}

.bg-white{
    background: #fff!important;
}

.position-relative{
    position: relative!important;
}

.position-absolute{
    position: absolute!important;
}

.position-fixed{
    position: fixed!important;
}

.room-img-mark{
    right: 40px;
    bottom: 40px;
    z-index: 1;
    background: #B29A6E;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 13px;
}
    
.room-img-mark-font{
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    line-height: 26px;
}

.mo-bottom-nav-con{
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
}

.bg-white-translate{
    background: rgba(255, 255, 255, 0.7);
}

.put-align-center{
    
}

.top-tab-container{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

.header-go-back{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
}

.top-tab-element-right{
    border-right: 1px solid #f3f3f3;
}

.cus-menu-btn, .cus-menu-icon-btn{
    height: 30px!important;
}

.cus-menu-icon-btn{
    min-width: 50px!important;
}

.cus-menu-btn .v-btn__content{
    color: #000!important;
    font-size: 15px;
}

.menu-bar-shadow{
    box-shadow: 1px 1px 21px 6px #e3e3e3;
}

.list-menu-bar-shadow{
    box-shadow: 0px 24px 28px 5px #e3e3e2;
}

.owl-theme .owl-dots .owl-dot span {
    width: 7px!important;
    height: 7px!important;
    margin: 3px 4px!important;
    background: rgba(0,0,0,0.3)!important;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #000!important;
}

.cus-chip-border-radius.v-chip{
    border-radius: 6px!important;
}

.brown-bar{
    height: 1px;
    width: 60px;
    background-color: #B29A6E;
    transform:rotate(-60deg);
}

.font-color-brown{
    color: #B29A6E;
}

.font-color-white{
    color: #fff;
}

.font-color-black{
    color: #000;
}

.font-size-13{
    font-size: 13px;
}

.font-size-18{
    font-size: 18px;
}

.unit-top{
    top: -22px;
    left: 10px
}

.unit-bottom{
    bottom: -25px;
    right: 10px;
}

.bg-white-carusel-dot .owl-carousel .owl-dots{
    background: white!important;
    bottom: -10px!important;
    padding: 0px 20px!important;
    border-radius: 15px!important;
}

.dark-bg-background{
    background: #E5E5E5;
}

.border-bottom-dark-gray{
    border-bottom: 1px solid #CDCDCD;
}

.carousel-3d-container{
    display: flex;
    align-items: center;
    margin: 0px auto!important;
}

.carousel-3d-slide{
    border-radius: 15px!important;
    box-shadow: #333333 0px 6px 14px 6px;
}

.carousel-3d-slide.current{

}

.gallery-cus-tab.v-tab{
    font-size: 17px;
}

.theme--light.v-tabs .v-tab--active:hover::before, .theme--light.v-tabs .v-tab--active::before {
    opacity: 0!important;
}

.h-100{
    height: 100%;
}

.height-without-header-footer{
    height: -moz-calc(100% - 80px);
    height: -webkit-calc(100% - 80px);
    height: calc(100% - 80px); 
}

.dropdown-btn{
    border-bottom: 1px solid #989898;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.dropdown-font{
    font-size: 18px;
    color: #B29A6E;
}

.drowdown-title-font{
    font-size: 22px;
    font-weight: bold;
}

.search-btn-font.v-btn .v-btn__content{
    font-size: 20px!important;
}

.horizontal-scroll{
    overflow-y: auto;
}

.horizontal-item-tag{
    position: absolute;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.horizontal-item-tag-title{
    font-size: 18px;
    font-weight: bold;
}

.horizontal-item-tag-category{
    font-size: 12px;
    color: #B29A6E;
}

.header-container{
    position: sticky;
    top: 0;
    z-index: 2;
}

.detail-title-badge{
    background: #B79A70;
    color: white;
    display: flex;
    width: 100%;
    padding: 0px 11px;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.cus-detail-top-chip{
    border-radius: 4px!important;
    padding: 0px 5px!important;
}

.detail-map-right-corner{
    top: 15px;
    right: 15px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #B29A6E;
    z-index: 1;
}

.detail-map-left-corner{
    top: 15px;
    left: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 5px 5px 5px 9px;
    color: white;
    background: #989898;
    z-index: 1;
}

.detail-fixed-bottom{
    background: #96794F;
    padding: 20px 10px;
    position: fixed;
    bottom: 12px;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
}

a#readmore{
    text-decoration: none;
    color: rgb(51, 51, 51);
    font-weight: bold;
}

a#readless{
    text-decoration: none;
    color: rgb(51, 51, 51);
    font-weight: bold;
}

.about-tab-container{
    position: sticky;
    top: 0px;
    background: white;
    z-index: 3;
    padding-top: 40px;
}

.about-tab{
    font-size: 25px;
    border-bottom: 5px solid #E6E6E6;
}

.about-tab-active{
    font-size: 25px;
    font-weight: bold;
    border-bottom: 5px solid #B29A6E;
}

.bg-light-brown{
    background: #D1C2AB;
}

.faq-first-container{
    width: 100%;
    height: 100%;
    background-image: url('../img/welcome/faq-first-bg.png');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin-bottom: 120px;
}

.faq-nav-container{
    width: calc(100vw - 24px);
    height: 60px;
    border-radius: 30px;
    padding: 10px 10px;
    margin: auto;
    position: fixed;
    bottom: 40px;
    background: white;
    box-shadow: 0px 0px 6px 1px #999999;
}

.faq-nav-left{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    padding: 15px 15px;
}

.faq-nav-right{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    padding: 15px 15px;
}

.faq-nav-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

.faq-three-card{
    background: #000;
    color: #B29A6E;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 25px;
}

.faq-three-card-image{
    border-top-right-radius: 20px!important;
    border-bottom-left-radius: 20px!important;
}

.faq-three-card-title{
    font-size: 17px;
    font-weight: bold;
}

.faq-three-card-tag{
    font-size: 12px;
}

.filter-btn{
    height: 30px;
    width: calc((100vw - 180px)/3);
    border: 1px solid rgb(114, 114, 114);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5px;
}

.apply-banner-image-overlap{
    background: rgba(0,0,0,0.7);
    color: white;
    width: 100%;
    bottom: 0px;
    z-index: 1;
}

/* .cus-slider-range-thumb .v-input__control .v-input__slot .v-slider .v-slider__thumb-container:hover .v-slider__thumb:before {
    -webkit-transform: scale(0.1)!important;
    transform: scale(0.1)!important;
} */

.home-img{
    height: calc(100vh - 56px);
}

.lowercase-btn span.v-btn__content{
    text-transform: none!important;
}

.home-content{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.home-content p{
    font-size: 38px;
    color: white;
    text-transform: uppercase;
}

.home-speaker{
    bottom: 80px;
    right: 20px;
}

.floating-back-container{
    border-radius: 10px;
    border: 1px solid #f3f3f3;
    display: flex;
    padding: 6px 10px;
    background: white;
}

.floating-back-element-right{
    border-right: 1px solid #272727;
}

.bg-black{
    background: #000!important;
}

.welcome-banner-tag{
    position: absolute;
    bottom: 100px;
    right: 0;
    padding: 8px 14px;
    background: rgba(0,0,0,0.7);
    text-align: center;
    z-index: 1;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    
}

.welcome-banner-tag p{
    color: white;
    font-size: 25px;
    text-transform: uppercase;
}

.welcome-banner-swipe{
    position: absolute;
    z-index: 2;
    right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 30px;
    color: white;
    padding: 10px;
    border: 1px white solid;
    border-radius: 12px;
}
.benefit-item{
    width: 70px;
    height: 65px;
    border-radius: 10px;
}

.benefit-active{
    background: #B29A6E;
}

.full-logo-img{
    width: 80%;
}

.px-40px{
    padding: 0px 40px!important;
}

.pd-select-list-item {
    text-shadow: none!important;
}